@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090b;
  --foreground: #f4f4f5;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Smooth scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
